<div *ngIf="heroDetailDisplayer.hero">
  <h2>{{heroDetailDisplayer.hero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{heroDetailDisplayer.hero.id}}</div>
  <div>
    <label for="hero-name">Hero name: </label>
    <input #heroName id="hero-name" [(ngModel)]="heroDetailDisplayer.hero.name" placeholder="Hero name"/>
  </div>
  <button id="go-back-button" type="button" (click)="goBack()">go back</button>
  <button id="change-name-button" type="button" (click)="changeName(heroName.value)">save</button>
</div>
